.mainstudi {
    display: flex;
    justify-content: center;
    padding: 16px 0px;
}

.mystudies {
    display: flex;
    flex-direction: column;
    width: 80%;
    gap: 24px;
    color: white;
}

.mystudies h2 {
    text-align: center;
}

.mystudies .study {
    display: flex;
    gap: 16px;
    flex-direction: column;
    background-color: #4dbcc0;
    padding: 16px;
    margin-top: 16px;
}

.mystudies .study:nth-child(odd) {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-left: none;
    background: rgb(77, 188, 192);
    background: linear-gradient(270deg, rgba(77, 188, 192, 0.5495448179271709) 0%, rgba(9, 29, 54, 1) 80%);
}

.mystudies .study:nth-child(even) {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-right: none;
    background: rgb(77, 188, 192);
    background: linear-gradient(90deg, rgba(77, 188, 192, 0.5495448179271709) 0%, rgba(9, 29, 54, 1) 80%);
}

.mystudies .study:nth-child(even) .date {
    text-align: end;
}

.mystudies h5 {
    font-size: 18px;
}