.main-skills {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 16px 16px;
}

.skills {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 16px;
    width: 60%;
    padding: 24px 0px;
}

.main-skills h2 {
    color: white;
}

.skill {
    border: 1px solid white;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    padding: 5px;
    background-color: white;
    flex-direction: column;
}

.skill img {
    width: 60px;
}